<div>
  <% if @name == '' or @name == nil %>
    <form action="/new_game">
      Please enter your name
      <input type="text" name="name">
      <input type="submit" value="submit">
    </form>
  <% else %>
    Hello <%= @name%>, you are the chosen one. Now, click the magic button to see your board on which you will place your ships
  <% end %>
</div>