<div>
  <pre><%= $game.own_board_view($game.player_1) %></pre>
  Enter coordinate to add ship:
  <form action="/new_board">
    <input type="text" name="coordinate">
    <input type="submit" value="Submit">
  </form>
</div>