<div>
  <pre><%= $game.own_board_view($game.player_1) %></pre>
  <p style="font-family:Arial,sans-serif; font-size:12px;">Enter coordinate to add ship:</p>
  <form action="/new_board">
    <input type="text" name="coordinate">
    <input type="submit" value="submit">
  </form>
</div>